img {
    width: 100%;
    height: auto;
}

.simpleBanner {
    padding-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#headshot {
    padding-top: 50px;
}

#big-t {
    padding: 60px 60px 60px 60px;
}

.sponsors.list-group {
    text-align: center !important;
}

.donate-button {
    background-color: #d5302a;
    color: #ffffff !important;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.donate-button a {
    color: #ffffff !important;
}

.donate-button:hover {
    background-color: #14386e;
    color: white;
    border: 2px solid #d5302a;
}

#apache-logo {
    width: 260px;
}

#navteca-logo {
    width: 120px;
}

#nasa-logo {
    width: 260px;
}

.socialMediaLinks a {
    font-size: 26px;
    margin: 0 10px 0 0;
    color: #000000;
    text-decoration: none;
}