img {
    width: 100%;
    height: auto;
}

.simpleBanner {
    padding-top:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#headshot {
    padding-top: 50px;
}



.sponsors.list-group {
    text-align: center !important;
}

#apache-logo {
    width: 260px;
}

#navteca-logo {
    width: 120px;
}

#nasa-logo {
    width: 260px;
}